---
// InputField.astro
interface Props {
	id: string;
	min?: string;
	type: 'text' | 'number';
	disabled?: boolean;
	value?: string | number;
	placeholder?: string;
	name?: string;
	labelBefore?: string;
	labelAfter?: string;
}

const {
	id,
	type,
	disabled = false,
	value = '',
	placeholder = '',
	name,
	labelBefore,
	min,
} = Astro.props;
---

<div class="field">
	<input
		id={id}
		name={name}
		type={type}
		placeholder={placeholder}
		disabled={disabled}
		value={value}
		min={min}
	/>
	{labelBefore && <label for={name}>{labelBefore}</label>}
</div>

<style>
	@reference "../styles/global.css";

	.field {
		flex-flow: column-reverse;
		@apply flex mb-2;
	}

	label,
	input {
		transition: all 0.2s;
		touch-action: manipulation;
	}
	input {
		font-size: 1em;
		border: 0;
		font-family: inherit;
		-webkit-appearance: none;
		border-radius: 0;
		padding: 0;
		cursor: text;
		@apply px-4 py-2 rounded-md;
		box-shadow:
			inset 2px 2px 4px rgb(0, 0, 0, 0.4),
			inset -2px -2px 4px rgb(255, 255, 255, 0.1);
	}

	input:focus {
		box-shadow:
			inset -2px -2px 4px rgb(0, 0, 0, 0.4),
			inset 2px 2px 4px rgb(255, 255, 255, 0.1);
	}

	label {
		letter-spacing: 0.05em;
	}

	input:placeholder-shown + label {
		cursor: text;
		max-width: 66.66%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		transform-origin: left bottom;
		transform: translate(16px, 32px) scale(1);
	}

	::-webkit-input-placeholder {
		opacity: 0;
		transition: inherit;
	}

	input:focus::-webkit-input-placeholder {
		opacity: 1;
	}

	input:not(:placeholder-shown) + label,
	input:focus + label {
		transform: translate(0, 0) scale(1);
		cursor: pointer;
	}
	.neu-input {
		@apply text-white;
		align-items: center;
		border-radius: 5px;
		font-size: 16px;
		box-shadow:
			inset 2px 2px 4px rgb(0, 0, 0, 0.4),
			inset -2px -2px 4px rgb(255, 255, 255, 0.2);
	}

	input[type='number']::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}

	.neu-input:focus {
		outline: none;
		border:none;
	}

	input:focus-visible {
		outline: none;
	}

	.neu-input:disabled {
		box-shadow:
			inset 2px 2px 4px rgb(0 0 0 / 0.2),
			inset -2px -2px 4px rgb(255 255 255 / 0.2);
		transition: 100ms;
	}

	.label-addon {
		padding: 0 0.5rem;
		font-weight: 500;
		border-radius: 5px;
	}
</style>
